body {
    font-family: 'Quicksand', sans-serif;
    background: #4527A0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*--Button Styles--*/
  /*.btn {
    position: relative;
    color: #D1C4E9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: #D1C4E9 1px 0 10px;
    height: 175px;
    width: 175px;
    border: solid 1px #D1C4E9;
    border-radius: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .btn:before {
    content: '';
    position: absolute;
    background: #9575CD;
    width: 0;
    height: 0;
    z-index: -1;
    border-radius: 175px;
    box-shadow: 0px 0px 24px 1px rgba(224,199,224,0.2);
    transition: all 300ms cubic-bezier(1.000, -0.195, 0.000, 1.330);
    transition-timing-function: cubic-bezier(1.000, -0.195, 0.000, 1.330);
  }
  
  .btn:hover:before {
    width: 100%;
    height: 100%;
  }*/
  .butonas{
    position: fixed;
			top: 10px;
			right: 10px;
			padding: 10px;
			background-color:#333;
			color: #333;
			border: none;
			font-size: 16px;
			cursor: pointer;
      text-decoration: none; /* Remove underline */
      display: inline-block; /* Display as inline-block */
      margin: 4px 2px; /* Margin */
      border-radius: 10px; /* Rounded corners */
      box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Add shadow */
      transition-duration: 0.3s; /* Transition effect duration */
  }
  .poem_gen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .lead{
    position: center;
    padding: 0px 0px 0px 50px;
    position: relative;
  }

  .input-group mb-3{
    position: absolute;
  }
  /* Define styles for light theme */
body {
  background-color: #fff;
  color: #333;
}

/* Define styles for dark theme */
body.dark {
  background-color: #333;
  color: #fff;
}
