body {
    font-family: 'Quicksand', sans-serif;
    background: #4527A0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  #particles-js
  {
    margin-left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -100;
  }
  canvas {
    display:block;
    position: fixed;
    z-index: -10;
    }
    
  /*--Button Styles--*/
  /*.btn {
    position: relative;
    color: #D1C4E9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: #D1C4E9 1px 0 10px;
    height: 175px;
    width: 175px;
    border: solid 1px #D1C4E9;
    border-radius: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .btn:before {
    content: '';
    position: absolute;
    background: #9575CD;
    width: 0;
    height: 0;
    z-index: -1;
    border-radius: 175px;
    box-shadow: 0px 0px 24px 1px rgba(224,199,224,0.2);
    transition: all 300ms cubic-bezier(1.000, -0.195, 0.000, 1.330);
    transition-timing-function: cubic-bezier(1.000, -0.195, 0.000, 1.330);
  }
  
  .btn:hover:before {
    width: 100%;
    height: 100%;
  }*/
  .poem_gen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 50px;
    box-sizing: border-box;
    display: none;
  }

  .lead{
    position: center;
    padding: 0px 0px 0px 50px;
    position: relative;
  }

  .input-group mb-3{
    position: absolute;
  }

  /* BUTONAS SHUKAR ALB NEGRU !!!!!!!!!!!!!!!!!!!*/
  /* Default light mode styles */
body {
  background-color: #ffffff;
  color: #333333;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

/* Toggle switch styles */
.toggle-switch {
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 1;
}

.toggle-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch label::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input:checked + label {
  background-color: #2196f3;
}

.toggle-switch input:checked + label::before {
  transform: translateX(26px);
}
.hidden {
  display: none;
}

#poem{
  text-align: justify;
}

.token_req{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.token-inp{
  max-width: 500px;
}

.input-group {
  background: black;
}

#vocee
{
  position: absolute;
  left: 88.5%;
  top: 88.5%;
  border-radius: 8px;
  margin: 20px;
  color: white;
  background-color: grey;
  display: none;
}